<div class="card m-2 bg-dark text-light">
  <img [src]="game.thumbnail" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ game.title }}</h5>
    <div class="card-text">
      <p>{{ game.genre }}</p>
      <p>{{game.platform}}</p>
      <p>
        {{ game.publisher }}
      </p>
      <!-- <p>
        {{ game.short_description }}
      </p> -->
    </div>
    <a href="{{ game.game_url }}"  target="_blank" class="btn btn-danger">Ver Juego</a>
  </div>
</div>
